* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: helvetica;
}

body {
  background: url("water.jpg");
  background-size: 100%;
  /*  background-repeat: repeat;*/
  background-attachment: fixed;
}



.logo img {
  width: 70px;
  height: 70px;
  margin-right: -20px;
  margin-left: -20px;
}


#home {
  font-size: 20px;
  color: #000206;
  opacity: .8;
  margin-top: 10px;
}

.nav-bar i {
  color: #fffdf2;
  font-size: 16px;
  font-family: fantasy;
  font-weight: 300;
}

#home h2 {
  text-align: center;
  padding: 3px 2px;
  -webkit-text-stroke: 1px black;
  color: #fff;
  background: transparent;
  font-family: verdana;

}

#about img {
  margin: 6px 20px;
  border-radius: 8px;
  transform: translate(50%, 1%);
}

#about h1 {
  margin-top: 40px;
  font-weight: 350;
  text-align: center;
  -webkit-text-stroke: 1px;
  background: transparent;
  color: gray;
  margin-bottom: 20px;
}

#about span {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}

#about span h3 {
  -webkit-text-stroke: 1px black;
  color: whitesmoke;
  font-size: 25px;

}

#about p {
  padding: 6px;
  color: #fffdf2;
  font-size: 18px;
  background: black;
  opacity: 0.89;
}

#about img {
  width: 180px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#typos ul li {
  display: inline-block;
  margin-left: 15px;
  margin-bottom: 20px;
}

#typos ul li a label {
  text-decoration: none;
  color: whitesmoke;
  background: black;
  text-align: left;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#typos ul li a img {
  width: 150px;
  height: 170px;
  margin-bottom: 5px;
  border-radius: 12px;
}

#typos h1 {
  text-align: center;
  color: #fff;
  font-family: algerian;
  margin: 30px 10px;
  background: #333;
  opacity: .8;
  width: 50%;
  border-radius: 5px;
}

#FAQ h1 {
  margin: 10px;
  color: whitesmoke;
  font-size: 20px;
}

marquee {
  color: lightblue;
  background: #3c5963;
  font-size: 20px;
  font-weight: 350;
  font-family: Cursive;
  padding: 5px 0;
  border-radius: 12px;
  margin: 10px;
}

#sub {
  display: grid;
  place-items: center;
  font-family: helvetica;
  font-weight: 350px;
  margin-top: 50px;
  margin-bottom: 50px;
  background: #3c5963;
  padding: 10px;
  margin: 7px;
  border-radius: 12px;
  opacity: .8;
}

#sub h2 {
  font-size: 20px;
  letter-spacing: 2px;
  padding: 10px;
  margin-bottom: 20px;
  color: #fff;
}

#sub-input {
  width: 300px;
  height: 35px;
  border: 2px solid grey;
  border-radius: 8px;
  text-transform: lowercase;
  margin-bottom: 20px;
  padding: 15px;
  outline: none;


}

#sub-input::placeholder {
  font-size: 16px;
}

#sub button {
  width: 160px;
  height: 30px;
  text-align: center;
  background-color: rgb(243, 144, 57);
  border-radius: 4px;
  border: none;
  font-size: 20px;
  font-weight: 380px;
}

#logistics{
  color:#3c5963;
  font-variant:small-caps;
}
footer {
  background:#3c5963;
  width: 100%;
}

footer ul {
  list-style-type: none;

}

footer ul li ul {
  margin-left: 10px;
}

footer ul li ul li {
  display: inline-block;
  margin-left: 20px;

}

footer ul li ul li a {
  text-decoration: none;
  color: grey;
  font-size: 15px;
  font-family: helvetica;
  text-transform: capitalize;
}

footer ul li ul li a img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

footer i {
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer hr {
  font-size: 20px;
  width: 60%;
  margin: 0 auto;
}

.to-top {
  background-color: rgb(0, 123, 255);
  border-radius: 12px;
  width: 20px;
}

footer i {
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer hr {
  font-size: 20px;
  width: 60%;
  margin: 0 auto;
}

@media only screen and (min-width:480px) {
  .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 20px;
  }
  body{
    background-image: url(water.jpg);
  }

  .nav-bar {
    margin: 10px;
  }

  .nav-bar ul {
    margin-right: 50px;
  }

  .nav-bar ul li {
    display: inline-block;
    margin-left: 40px;

  }

  .nav-bar ul li a {
    font-size: 35px;
  }

  footer {
    width: 100%;
  }

  footer ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3px 30px;
  }

  footer ul li ul li a {
    font-size: 28px;
  }

  .nav-bar img {
    width: 150px;
    height: auto;

  }

  marquee {
    font-size: 65px;
    font-weight: bolder;
    margin: 19px;
  }

  #home h2 {
    text-align: center;
    font-size: 80px;
    -webkit-text-stroke: 3px black;
  }

  #about h1 {
    margin-top: 40px;
    font-weight: 450;
    -webkit-text-stroke: 2px white;
    color: black;
    font-size: 70px;
  }

  #about span h3 {
    color: whitesmoke;
    font-size: 45px;
  }

  #about p {
    border-radius: 12px;
    padding: 10px 15px;
    margin-bottom: 30px;
    font-size: 40px;
    margin: 25px;
    opacity: .8;

  }

  #about img {
    width: 430px;
    height: 600px;
    margin-left: 80px;
  }

  #typos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
  }

  #typos ul {
    text-align: center;
    margin-right: 20px;
  }

  #typos ul li {
    display: inline-block;
    margin-left: 35px;
    margin-bottom: 20px;

  }

  #typos ul li a label {
    font-size: 38px;

  }

  #typos ul li a img {
    width: 400px;
    height: 500px;
    margin-bottom: 5px;
    border-radius: 12px;
  }

  #typos h1 {
    font-size: 50px;
  }

  #FAQ h1 {
    margin: 30px;
    color: whitesmoke;
    font-size: 50px;
  }

  #sub h2 {
    font-size: 45px;
  }

  #sub-input {
    width: 60%;
    height: 75px;
    border: 2px solid grey;
    border-radius: 8px;
    text-transform: lowercase;
    margin-bottom: 20px;
    padding: 15px;
    outline: none;
    font-size: 40px;


  }

  #sub-input::placeholder {
    font-size: 40px;
  }

  #sub button {
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: rgb(243, 144, 57);
    border-radius: 4px;
    border: none;
    font-size: 40px;
    font-weight: 380px;
  }

  footer ul li ul li a img {
    width: 40px;
    height: 40px;
  }

  footer i {
    font-size: 20px;
    padding-bottom: 10px;
  }

}